/* Reset Browser Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
ul  {
    background-color: white;
    padding-bottom: 10px;
    margin-top: 5px;
}
/* General */
body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}
h3 {
    margin-left: -385px;
}
button  {
    
    display: block;
    margin-left: 420px;
    margin-top: -20px;
    margin-bottom: 10px;
    height: 40px;
    width: 100px;
    background-color: rgb(102, 102, 232);
    border: none;
    color: white;
    cursor: pointer;
}
/* Header */
header {
    margin-bottom: 8px;
    padding: 16px;
    background-color: #a3a0a0;
    color: black;
}
#form-box   {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-color: black;
    border-style: dashed;
   
}
/* Contact Form Area (Grid) */
#contact-form {
    display: grid;
    grid-template-areas:
        'h3 h3'
        'first last'
        'email job'
        'address address'
        'city zip'
        'start file';
    grid-gap: 10px;
    margin-left: 20px;
    margin: 8px;
    padding: 16px;
}

/* Form Heading */
#contact-form h2 {
    grid-area: h2;
}
#contact-form h3 {
    grid-area: h3;
    
}

/* Form Elements (General) */
#contact-form label,
#contact-form input,
#contact-form select,
#contact-form textarea{
    margin: 4px;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 1px;
    display: block;
    width: 100%;
}

#contact-form label {
    text-align: left;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form select,
#contact-form textarea {
    margin-bottom: 10px;
}


/* Grid Items / Cells */
#first-name {
    grid-area: first;
}
#last-name {
    grid-area: last;
}
#email-field {
    grid-area: email;
}

#phone-field {
    grid-area: phone;
}
#start {
    grid-area: start;
}

#dropdown-field {
    grid-area: job;
}
#file-field {
    grid-area: file;
}
#zip-field {
    grid-area: zip;
}
#address-field {
    grid-area: address;
}
#city-field {
    grid-area: city;
}
#message-field {
    grid-area: message;
}

#checkbox1-field {
    grid-area: checkbox1;
    /* display: flex; */
}

#checkbox2-field {
    grid-area: checkbox2;
}

#radio1-field {
    grid-area: radio1;
}

#radio1-field {
    grid-area: radio2;
}


#submit-4 {
    grid-area: button;
}

#checkbox1-field label,
#checkbox1-field input,
#checkbox2-field label,
#checkbox2-field input,
#radio1-field label,
#radio1-field input,
#radio2-field label,
#radio2-field input  {
    display: inline-block;
    width: auto;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    position: fixed;
    background-color: #a3a0a0;
    color: black;
}